<html>
<head>
<style>
body {
  background-color: white;
}

h1 {
  color: lightblue;
  text-align: center;
}

p {
  font-family: georgia;
  font-size: 25px;
  text-align: center;
}
</style>
</head>
<body>

<h1>IL MIO SITO!</h1>
<p>Ciao, sono Davide, in arte Dusso, e mi piace molto l'inormatica.
Passo principalmente il tempo a programmare e ad aggiungere pagine a questo sito.</p>

</body>
</html>


