body {
    background-color: white;
    font-family: 'Google Sans';
    margin: 0;
    padding: 0;
}

h1 {
    color: lightblue;
    text-align: center;
    margin-top: 25px;
}

p {
     font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  text-align: center;
  src: url(https://fonts.gstatic.com/s/googlesans/v27/4UaGrENHsxJlGDuGo1OIlL3Kwp5MKg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;

}

.container {
    text-align: center;
}
/* styles.css */

.button {
  background-color: #AEC6CF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #004794;
  transform: scale(1.1); 
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

